

@import url("https://fonts.googleapis.com/css?family=Pontano+Sans");
.container1 {
  margin: auto;
  width: 100%;
}
 
* {
  display: block-box;
}
*::before, *::after {
  box-sizing: border-box;
}

body {
  
  background-image:url(../img/背景圖4.jpg);
　background-repeat: no-repeat;
  font-family: "Pontano Sans", sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  color: #2E8194;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100%;
  text-rendering: optimizeLegibility;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
ul li {
  margin: 0 1.75rem 0 0;
}

a {
  color:#2E8194;
  text-decoration: none;
  transition: all 0.2s ease;
}
a:hover {
  color: #2E8194;
}
a.notmove {
  color: #2E8194;
}

h1, h2, h3, h4 {
  color: #2E8194;
  font-weight: normal;
  margin: 1.75rem 0 1rem 0;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.125rem;
  margin: 0;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
  margin: 1rem 0 0.5rem 0;
}

img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

nav {
  display: block;
}
nav li {
  font-size: 1.125rem;
  margin: 0;
}

/*footer {
  padding: 1rem 0;
  text-align: center;
}*/



.follow {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 30px 0 30px;
}

.follow * {
  margin-right: 10px;
}

/* Links */
.links {
  background: #f2f2f2;
  color: #616161;
  font-size: 12px;
  padding: 35px 0;
}

.links-inner {
  font-size: 18px;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  align-items: flex-start;
  justify-content: center;
}


.links li {
  line-height: 1.8;
}


/*-------------------------------------------------------*/

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 2px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 10px;
  right: 45px;
  font-size: 60px;
}

.menu1{
  /*margin-left: 2%;*/
  padding-left: 3%;
  font-size:20px;
  cursor:pointer;
}

@media screen and (max-height: 400px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 10px;
  right: 35px;
  }
}


/*------------------------------------*/
#logo{
  color: #333;
  font-size: 1.125rem;
  text-transform: uppercase;
}

.logo3{
  position: relative;
  margin: 0 42.5% 0 42.5%;
  top:30px;

}

.breadcrumb-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0 1%;
  margin: 1rem 0 0 0;
  list-style: none;
}
.breadcrumb-list li {
  font-size: 0.85rem;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
}

.breadcrumb-item.notmove {
  color: #333;
}
.breadcrumb-item + .breadcrumb-item::before {
  content: "/";
  display: inline-block;
  padding: 0 10px;
  color: #d5d5d5;
}



.grid > [class*=column-] {
  padding: 1rem;
}
.grid.menu, .grid.product,.grid.products2{
  border-bottom: 1px solid #e3dddd;
}
.grid.menu > [class*=column-] {
  padding: 0.5rem 1rem 0.5rem 1rem;
}
.grid.product {
  padding: 0 0 1.5rem 0;
}
.grid.second-nav > [class*=column-] {
  padding: 5px 10px;
}

.hover figure img {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;

}
.hover figure:hover img {
  -webkit-transform: scale(1);
  transform: scale(1);
}

figure img{
  text-align: center;
}

.hover{
  margin-left: 13%;
}

.hover .column{
  margin-bottom: -200px;
  position: relative;
}

.demo{
   text-align: center;
}


@media (min-width: 993px) {

  nav ul {
    justify-content: flex-end;
  }
}

@keyframes wobble-top {
  16.65% {
    transform: skew(-12deg);
  }
  33.3% {
    transform: skew(10deg);
  }
  49.95% {
    transform: skew(-6deg);
  }
  66.6% {
    transform: skew(4deg);
  }
  83.25% {
    transform: skew(-2deg);
  }
  100% {
    transform: skew(0);
  }
}
.wobble-top {
  display: inline-block;
  transform-origin: 0 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.wobble-top:hover {
  animation-name: wobble-top;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

@supports (display: grid) {
  .grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
  }
  .grid > [class*=column-] {
    margin: 0;
    max-width: 100%;
  }

  .column12 {
    grid-column-start: span 12;
    grid-column-end: span 12;
  }
}


.white-pink {
	z-index:15;
  margin-left:auto;
	margin-right:auto;
	max-width: 500px;
	background: #FFF;
	padding: 30px 30px 20px 30px;
	box-shadow: rgba(187, 187, 187, 1) 0 0px 20px -1px;
	-webkit-box-shadow: rgba(187, 187, 187, 1) 0 0px 20px -1px;
	font: 12px Arial, Helvetica, sans-serif;
	color: #FFF;
	border-radius: 10px;
	-webkit-border-radius: 10px;
}
.white-pink h1 {
  text-align: center;
	font: 24px "Trebuchet MS", Arial, Helvetica, sans-serif;
	padding: 0px 0px 10px 0px;
	display: block;
	border-bottom: 1px solid #F5F5F5;
	margin: -10px -10px 10px -10px;
	color: #969696;
}
.white-pink h1>span{
	display: block;
	font-size: 11px;
	color: #C4C2C2;
}
.white-pink label {
	display: block;
	margin: 0px 0px 5px;
}
.white-pink label>span{
	float: left;
	width: 22%;
	text-align: right;
	padding-right: 10px;
	margin-top: 10px;
	color: #969696;
}
.white-pink input[type="text"], .white-pink input[type="email"], .white-pink textarea,.white-pink select{
	color: #555;
	width: 70%;
	padding: 3px 0px 3px 5px;
	margin-top: 2px;
	margin-right: 6px;
	margin-bottom: 16px;
	border: 1px solid #e5e5e5;
	background: #fbfbfb;
	height: 25px;
	line-height:15px;
	outline: 0;
	-webkit-box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);
	box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);
}
.white-pink textarea{
	height:100px;
	padding: 5px 0px 0px 5px;
	width: 70%;
}
.white-pink button {
	-moz-box-shadow:inset 0px 1px 0px 0px #005A6F;
	-webkit-box-shadow:inset 0px 1px 0px 0px #005A6F;
	box-shadow:inset 0px 1px 0px 0px #005A6F;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff5bb0), color-stop:(1, #ef027d) );
	background:-moz-linear-gradient( center top, #ff5bb0 5%, #ef027d 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bb0', endColorstr='#ef027d');
	background-color:#2E8194;
	border-radius:9px;
	-webkit-border-radius:9px;
	-moz-border-border-radius:9px;
	border:1px solid #2E8194;
  display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height: 40px;
	line-height: 30px;
	width:100px;
	text-decoration:none;
	text-align:center;
  text-shadow:1px 1px 0px #005A6F;
	/* margin-right: 140px;*/
  margin-right: 200px;
}
.white-pink button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05,#005A6F), color-stop(1, #005A6F) );
	background:-moz-linear-gradient( center top, #005A6F 5%, #005A6F 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ef027d', endColorstr='#ff5bb0');
	background-color:#2E8194;
}
.white-pink button:active {
	position:relative;
	top:1px;
}
.white-pink select {
	background: url('down-arrow.png') no-repeat right, -moz-linear-gradient(top, #FBFBFB 0%, #E9E9E9 100%);
	background: url('down-arrow.png') no-repeat right, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FBFBFB), color-stop(100%,# E9E9E9));
	appearance:none;
	-webkit-appearance:none;
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
	width: 70%;
	line-height: 15px;
	height: 30px;
}

.transition{
  border-radius:30px;
  transition-property: width;
  transition-duration: .5s;
  transition-timing-function: ease-out;
  border-radius:30px;
}

.flower{
  position: fixed;
  display: block;
  width: 40%;
  line-height: 50%;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 15px;
  border-radius: 5px;
  float: left;
  top: -200px;
  right:-200px;
  animation-name:spin;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

@media screen and (max-width: 1200px) {
  .menu1{
    font-size: 40px;
  }

.breadcrumb-list li{
    font-size: 18px;
  }

.white-pink {
  z-index:15;
  max-width: 80%;
  background: #FFF;
  padding: 5% ;
  box-shadow: rgba(187, 187, 187, 1) 0 0px 20px -1px;
  -webkit-box-shadow: rgba(187, 187, 187, 1) 0 0px 20px -1px;
  font: 15px Arial, Helvetica, sans-serif;
  color: #FFF;
  border-radius: 10px;
  -webkit-border-radius: 10px;
}

}
@media screen and (max-width: 992px) {
  .menu1{
    font-size: 50px;
  }

.breadcrumb-list li{
    font-size: 22px;
  }

.white-pink {
  z-index:15;
  max-width: 80%;
  max-height: 80%
  background: #FFF;
  padding: 5% ;
  box-shadow: rgba(187, 187, 187, 1) 0 0px 20px -1px;
  -webkit-box-shadow: rgba(187, 187, 187, 1) 0 0px 20px -1px;
  font: 20px Arial, Helvetica, sans-serif;
  color: #FFF;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  min-height: 80%;
}

.white-pink input[type="text"], .white-pink input[type="email"], .white-pink textarea,.white-pink select{
  color: #555;
  width: 70%;
  padding: 3px 0px 3px 5px;
  margin-top: 2px;
  margin-right: 6px;
  margin-bottom: 25px;
  border: 1px solid #e5e5e5;
  background: #fbfbfb;
  height: 30px;
  line-height:15px;
  outline: 0;
  font-size: 18px;
  -webkit-box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);
  box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);
}
.white-pink textarea{
  height:100px;
  padding: 5px 0px 0px 5px;
  width: 70%;


}
@media screen and (max-width: 768px) {
   .menu1{
    font-size: 40px;
  }
  .breadcrumb-list li{
    font-size: 25px;
  }

  .white-pink {
  z-index:15;
  max-width: 80%;
  background: #FFF;
  padding: 5% ;
  box-shadow: rgba(187, 187, 187, 1) 0 0px 20px -1px;
  -webkit-box-shadow: rgba(187, 187, 187, 1) 0 0px 20px -1px;
  font: 15px Arial, Helvetica, sans-serif;
  color: #FFF;
  border-radius: 10px;
  -webkit-border-radius: 10px;
}
}

@media screen and (max-width: 1200px) {
  .Menu1{
    font-size: 40px;
  }
.breadcrumb-list li{
    font-size: 18px;
  }
 
}
@media screen and (max-width: 992px) {
  .Menu1{
    font-size: 40px;
  }
.breadcrumb-list li{
    font-size: 22px;
  }
.flower{
  position: fixed;
  display: block;
  width: 30%;
  line-height: 40%;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 15px;
  border-radius: 5px;
  float: left;
  top: -10%;
  right:-10%;
  animation-name:spin;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}
.links-inner {
  font-size: 18px;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  align-items: flex-start;
  justify-content: center;
 }  

}
