@import url("https://fonts.googleapis.com/css?family=Pontano+Sans");
.container1 {
  margin: auto;
  padding: 0 1rem;
  max-width: 71.25rem;
  width: 100%;
}
 
* {
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}

body {
  
  background-image:url(../img/背景圖2.jpg);
　background-repeat: no-repeat;
  font-family: "Pontano Sans", sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  color: #2E8194;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100%;
  text-rendering: optimizeLegibility;
  overflow: hidden 
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
ul li {
  margin: 0 1.75rem 0 0;
}

a {
  color:#2E8194;
  text-decoration: none;
  transition: all 0.2s ease;
}
a:hover {
  color: #2E8194;
}
a.notmove {
  color: #2E8194;
}

h1, h2, h3, h4 {
  color: #2E8194;
  font-weight: normal;
  margin: 1.75rem 0 1rem 0;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.125rem;
  margin: 0;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
  margin: 1rem 0 0.5rem 0;
}

img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

nav {
  display: block;
}
nav li {
  font-size: 1.125rem;
  margin: 0;
}

footer {
  padding: 1rem 0;
  text-align: center;
}

/*--------------------------------------------------------*/

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 2px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: -20%;
  right: 45px;
  font-size: 60px;
}

span{
  margin-left: 2%;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 10px;
  right: 35px;
  }
}


/*--------------食物軸------------------*/


@media (min-width: 768px){
.food{
 

 }


.food img{
  position: fixed;
  width: 30%;
  bottom: 0%;
  right: -70px;
 }

.food2 img{
  position: fixed;
  width: 20%;
  bottom: 0%;
  right: 150px;
 }
 .food3 img{
  position: fixed;
  width: 20%;
  bottom: 0%;
  right: 150px;
 } 
  .food4 img{
  position: fixed;
  width: 20%;
  bottom: 0%;
  right: 150px;
 } 
   .food4 img{
  position: fixed;
  width: 60%;
  bottom: 0%;
  right: 350px;
 }  
} 

@media (max-width: 767px){
.food{
 

 }


.food img{
  position: fixed;
  min-width:767px;
  

 }

 .food2 img{
  position: fixed;
  width: 50%;
  bottom: -20%;
  right: 20%;

 }
 .food3 img{
  position: fixed;
  width: 60%;
  bottom: 0%;
 
 } 
  .food4 img{
  position: fixed;
  width: 60%;
  bottom: 0%;
 
 } 
   .food5 img{
  position: fixed;
  width: 60%;
  bottom: 0%;

 } 
} 
/*-------------------------------------------------------*/

#logo{
  color: #333;
  font-size: 1.125rem;
  text-transform: uppercase;
}

.logo2{
  padding-top: 20px;
}

span{
  padding-left: 3%;
  margin-right: 30rem;
}

.biglogo{
 position: absolute;
 top: 40%;
 left: 37%
}

.biglogo img{
  max-width: 40%;
  height: auto;
  font-size: 1.125rem;
  text-align: center;
}

.grid > [class*=column-] {
  padding: 1rem;
}
 .grid.product,.grid.products2{
  border-bottom: 1px solid #e3dddd;
}
.grid.menu > [class*=column-] {
  padding: 0.5rem 1rem 0.5rem 1rem;
}

@keyframes wobble-top {
  16.65% {
    transform: skew(-12deg);
  }
  33.3% {
    transform: skew(10deg);
  }
  49.95% {
    transform: skew(-6deg);
  }
  66.6% {
    transform: skew(4deg);
  }
  83.25% {
    transform: skew(-2deg);
  }
  100% {
    transform: skew(0);
  }
}
.wobble-top {
  display: inline-block;
  transform-origin: 0 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.wobble-top:hover {
  animation-name: wobble-top;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}


@keyframes wobble-horizontal {
  16.65% {
    transform: translateX(8px);
  }
  33.3% {
    transform: translateX(-6px);
  }
  49.95% {
    transform: translateX(4px);
  }
  66.6% {
    transform: translateX(-2px);
  }
  83.25% {
    transform: translateX(1px);
  }
  100% {
    transform: translateX(0);
  }
}
.wobble-horizontal {
  display: inline-block;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.wobble-horizontal:hover {
  animation-name: wobble-horizontal;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

@media (min-width: 768px) {

  nav ul {
    justify-content: flex-end;
  }

  .flex-nav {
    display: block;
  }
  .flex-nav ul {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: flex-end;
  }
  .flex-nav ul li {
    font-size: 18px;
    margin: 0 20px 0 0;
  }
  .flex-nav ul li:nth-child(9) {
    margin: 0;
  }
}

@supports (display: grid) {
  .grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
  }
  .grid > [class*=column-] {
    margin: 0;
    max-width: 100%;
  }

  .column12 {
    grid-column-start: span 12;
    grid-column-end: span 12;
  }
}

@media (min-width: 768px) {

  .column-3 {
    flex-basis: 50%;
    max-width: 50%;
  }
}
 @media (min-width: 768px) {

   .column-3{
      grid-column-start: span 6;
      grid-column-end: span 6;
    }
}

