
@import url("https://fonts.googleapis.com/css?family=Pontano+Sans");
.container1 {
  margin: auto;
  padding: 0 1rem;
  max-width: 71.25rem;
  width: 100%;
  display: block;
}
 
* {
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}

body {
  
  background-image:url(../img/背景圖5.jpg);
　background-repeat: no-repeat;
  font-family: "Pontano Sans", sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  color: #2E8194;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100%;
  text-rendering: optimizeLegibility;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
ul li {
  margin: 0 1.75rem 0 0;
}

a {
  color:#2E8194;
  text-decoration: none;
  transition: all 0.2s ease;
}
a:hover {
  color: #2E8194;
}
a.notmove {
  color: #2E8194;
}

h1, h2, h3, h4 {
  color: #2E8194;
  font-weight: normal;
  margin: 1.75rem 0 1rem 0;
}

h1, h2, h3, h4, h5, h6, p{
 text-align: center;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.125rem;
  margin: 0;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
  margin: 1rem 0 0.5rem 0;
}

img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

nav {
  display: block;
}
nav li {
  font-size: 1.125rem;
  margin: 0;
}

footer {
  padding: 1rem 0;
  text-align: center;
}

/*-------------------------------------------------------*/

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.Menu1{
  /*margin-left: 2%;*/
  padding-left: 3%;
  font-size:40px;
  cursor:pointer;
}


@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

/*---------------------*/

#logo{
  color: #333;
  font-size: 1.125rem;
  text-transform: uppercase;
}

.logo3{
  position: relative;
  margin: 0 42.5% 0 42.5%;
  top:30px;

}
.breadcrumb-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 1rem 0 0 0;
  list-style: none;
}
.breadcrumb-list li {
  font-size: 0.85rem;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
}

.breadcrumb-item.notmove {
  color: #333;
}
.breadcrumb-item + .breadcrumb-item::before {
  content: "/";
  display: inline-block;
  padding: 0 10px;
  color: #d5d5d5;
}

.container1 {
  margin: auto;
  padding: 0 10px;
  max-width: 1200px;
  width: 100%;
}

.about{
  background-color:  #fff;
  height: 350px;
  padding: 20px 0;
  box-sizing: border-box;
  border-radius: 30px;
  display: block;
}

.about2{
  background-color:  #fff;
  height: 350px;
  padding: 20px 0;
  box-sizing: border-box;
  border-radius: 30px;
  display: block;
}

.about img{
  float: left;
  margin-left: 100px;
  border-radius: 30px;
  box-shadow: 5px 5px 5px #333333;
  -webkit-box-shadow: 5px 5px 5px #333333;
  -moz-box-shadow: 5px 5px 5px #333333;
}

.about2 img{
  float: right;
  margin-right: 100px;
  border-radius: 30px;
  box-shadow: 5px 5px 5px #333333;
  -webkit-box-shadow: 5px 5px 5px #333333;
  -moz-box-shadow: 5px 5px 5px #333333;
}

.about-text{
  float: right;
  width: 500px;
  margin-right: 100px;
  color: #2E8194;
  margin-top: 50px;
}

.about-text h2{
  font-family: "Pontano Sans", sans-serif;
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: bold;
  margin-right: 18%;
  margin-top: 18%;
}

.about-text p{
 font-family: "Pontano Sans", sans-serif;
 margin-right: 20%;
}

.about-text2{
  float: left;
  width: 500px;
  margin-left: 100px;
  color: #2E8194;
  margin-top: 50px;
}

.about-text2 h2{
  font-family: "Pontano Sans", sans-serif;
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: bold;
  margin-top: 18%;
}

.about-text2 p{
  font-family: "Pontano Sans", sans-serif;

}


.grid.products2{
  display: block;

}

.grid > [class*=column-] {
  padding: 1rem;
}
.grid.menu, .grid.product,.grid.products2{
  border-bottom: 1px solid #e3dddd;
}
.grid.menu > [class*=column-] {
  padding: 0.5rem 1rem 0.5rem 1rem;
}
.grid.second-nav > [class*=column-] {
  padding: 5px 10px;
}

.item{
  opacity:0.4;
  transition:.4s ease all;
  margin:0 20px;
  transform:scale(.8);
}
@media(max-width:1000px){
  .item{margin:0; transform:scale(.9)}
}
.active .item{
  opacity:1;
  transform:scale(1);
} 

.owl-item {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
}

.inner{
    position:absolute; 
    bottom:30px; 
    left:0; 
    right:0; 
    text-align:center;
  }

.inner a{
    color:#fff; 
    text-decoration:none; 
    border-bottom:2px solid rgba(255,255,255,0.5); 
    transition:.3s ease border-color
  }

.inner a:hover{
    border-color:#fff;
  }

.black .inner a{
    color:#000; 
    border-color:rgba(0,0,0,0.4)
  }

.black .inner a:hover{
  border-color:#000;
  }

.owl-carousel:after{
    content:""; 
    display:block; 
    position:absolute; 
    width:8%; 
    top:0; 
    bottom:0; 
    left:50%; 
    margin-left:-4%; 
    pointer-events: none; 
    background-size:100% auto;
}

.owl-controls{
    z-index: -20;
    position:absolute;
    margin-top:300px;
    display: none;
  }

@keyframes wobble-top {
  16.65% {
    transform: skew(-12deg);
  }
  33.3% {
    transform: skew(10deg);
  }
  49.95% {
    transform: skew(-6deg);
  }
  66.6% {
    transform: skew(4deg);
  }
  83.25% {
    transform: skew(-2deg);
  }
  100% {
    transform: skew(0);
  }
}
.wobble-top {
  display: inline-block;
  transform-origin: 0 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.wobble-top:hover {
  animation-name: wobble-top;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

.outline-outward {
  display: inline-block;
  position: relative;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.outline-outward:before {
  content: "";
  position: absolute;
  border: #ececec solid 4px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition-duration: 0.3s;
  transition-property: top right bottom left;
}
.outline-outward:hover:before {
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
}


@media (min-width: 993px) {
  nav ul {
    justify-content: flex-end;
  }

  .about-text{
    margin: 0;
  }
}

@supports (display: grid) {
  .grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
  }
  .grid > [class*=column-] {
    margin: 0;
    max-width: 100%;
  }

  .column12 {
    grid-column-start: span 12;
    grid-column-end: span 12;
  }
}

@media (min-width: 993px) {
 
  .column-1 {
    flex-basis: 33%;
    max-width: 33%;
  }

  .column-2 {
    flex-basis: 41%;
    max-width: 41%;
  }

  .column-3 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .column-4 {
    flex-basis: 58%;
    max-width: 58%;
  }
}

  @media (min-width: 993px){
  
    .column-1 {
      grid-column-start: span 6;
      grid-column-end: span 6;
    }

    .column-2 {
      grid-column-start: span 5;
      grid-column-end: span 5;
    }

    .column-3{
      grid-column-start: span 6;
      grid-column-end: span 6;
    }

    .column-4 {
      grid-column-start: span 7;
      grid-column-end: span 7;
    }
}

@media (min-width: 993px) {

 
  .column-1 {
    flex-basis: 33%;
    max-width: 33%;
  }

  .column-2 {
    flex-basis: 41%;
    max-width: 41%;
  }

  .column-3 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .column-4 {
    flex-basis: 58%;
    max-width: 58%;
  }

}

@media(max-width: 992px){


  .about{
  background-color:  #fff;
  max-width:300%;
  height: 230px;
  padding: 10px 0;
  box-sizing: border-box;
  border-radius: 30px;
}

.about h1{
  font-size: 30px;
  text-align: center;
  color: #707070;
  font-weight: bold;
  margin-bottom: 10px;
}

.about h1 span{
  color: #2E8194;;
}

.about2{
  background-color:  #fff;
  max-width:100%;
  height: 230px;
  padding: 10px 0;
  box-sizing: border-box;
  border-radius: 30px;
}

.about2 h1{
  font-size: 20px;
  text-align: center;
  color: #707070;
  font-weight: bold;
  margin-bottom: 20px;
}

.about img{
  margin-top:5%; 
  max-width: 30%;
  float: left;
  margin-left: 0px;
  border-radius: 30px;
  box-shadow: 5px 5px 5px #333333;
  -webkit-box-shadow: 5px 5px 5px #333333;
  -moz-box-shadow: 5px 5px 5px #333333;
}

.about2 img{
  margin-top:5%; 
  max-width: 30%;
  float: right;
  margin-right: 0px;
  border-radius: 30px;
  box-shadow: 5px 5px 5px #333333;
  -webkit-box-shadow: 5px 5px 5px #333333;
  -moz-box-shadow: 5px 5px 5px #333333;
}

.about-text{
  float: right;
  width: 38%;
  margin-right: 0px;
  padding: 2%;
  color: #2E8194;
  margin-top: 2px;
}

.about-text h2{
  font-size: 10px;
  margin-bottom: 20px;
  font-weight: bold;
}

.about-text p{
 font-size: 10px;
}

.about-text2{
  padding: 2%;
  float: left;
  width: 38%;
  margin: 5% 2%;
  color: #2E8194;
  margin-top: 25px;
}

.about-text2 h2{
  font-size: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}

.about-text2 p{
  font-size: 10px;
}

.Menu1{
  /*margin-left: 2%;*/
  padding-left: 3%;
  font-size:60px;
  cursor:pointer;
}

}