
@import url("https://fonts.googleapis.com/css?family=Pontano+Sans");
.container1 {
  margin: auto;
  padding: 0 1rem;
  max-width: 71.25rem;
  width: 100%;
}
 
* {
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}

body {
  
  background-image:url(../img/背景圖5.jpg);
　background-repeat: no-repeat;
  font-family: "Pontano Sans", sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  color: #2E8194;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100%;
  text-rendering: optimizeLegibility;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
ul li {
  margin: 0 1.75rem 0 0;
}

a {
  color:#2E8194;
  text-decoration: none;
  transition: all 0.2s ease;
}
a:hover {
  color: #2E8194;
}
a.notmove {
  color: #2E8194;
}

h1, h2, h3, h4 {
  color: #2E8194;
  font-weight: normal;
  margin: 1.75rem 0 1rem 0;
}

h1, h2, h3, h4, h5, h6, p{
 text-align: center;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.125rem;
  margin: 0;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
  margin: 1rem 0 0.5rem 0;
}

img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

nav {
  display: block;
}
nav li {
  font-size: 1.125rem;
  margin: 0;
}

footer {
  padding: 1rem 0;
  text-align: center;
}

/*-------------------------------------------------------*/

.flex-nav ul {
  position: absolute;
  z-index: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  display: none;
  width: 100%;
  left: 0;
  padding: 1rem;
  background: #fff;
  border-radius:30px;
  text-align: center;
}
.flex-nav ul.notmove {
  display: flex;
}
.flex-nav ul li {
  margin: 0.5rem 0;
}

#logo{
  color: #333;
  font-size: 1.125rem;
  text-transform: uppercase;
}

.breadcrumb-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 1rem 0 0 0;
  list-style: none;
}
.breadcrumb-list li {
  font-size: 0.85rem;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
}

.breadcrumb-item.notmove {
  color: #333;
}
.breadcrumb-item + .breadcrumb-item::before {
  content: "/";
  display: inline-block;
  padding: 0 10px;
  color: #d5d5d5;
}

.container1 {
  margin: auto;
  padding: 0 10px;
  max-width: 1200px;
  width: 100%;
}

.wrapper.style {
  background-color: #f2f2f2;
  color: #a6a6a6;
  border-radius:30px;
  }

.inner {
  position: relative; 
  z-index: 2;
  }

.image img {
  display: block;
  width: 100%
  }

.content{
  padding:10px 120px;
  color: #305F6A;
  border-radius:30px;
}



.grid > [class*=column-] {
  padding: 1rem;
}
.grid.menu, .grid.product,.grid.products2{
  border-bottom: 1px solid #e3dddd;
}
.grid.menu > [class*=column-] {
  padding: 0.5rem 1rem 0.5rem 1rem;
}
.grid.second-nav > [class*=column-] {
  padding: 5px 10px;
}

@keyframes wobble-top {
  16.65% {
    transform: skew(-12deg);
  }
  33.3% {
    transform: skew(10deg);
  }
  49.95% {
    transform: skew(-6deg);
  }
  66.6% {
    transform: skew(4deg);
  }
  83.25% {
    transform: skew(-2deg);
  }
  100% {
    transform: skew(0);
  }
}
.wobble-top {
  display: inline-block;
  transform-origin: 0 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.wobble-top:hover {
  animation-name: wobble-top;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

.outline-outward {
  display: inline-block;
  position: relative;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.outline-outward:before {
  content: "";
  position: absolute;
  border: #ececec solid 4px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition-duration: 0.3s;
  transition-property: top right bottom left;
}
.outline-outward:hover:before {
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
}


@media (min-width: 62rem) {
  nav ul {
    justify-content: flex-end;
  }

  .flex-nav {
    display: block;
  }
  .flex-nav ul {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: flex-end;
  }
  .flex-nav ul li {
    font-size: 18px;
    margin: 0 20px 0 0;
  }
  .flex-nav ul li:nth-child(8) {
    margin: 0;
  }
}

@supports (display: grid) {
  .grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
  }
  .grid > [class*=column-] {
    margin: 0;
    max-width: 100%;
  }

  .column12 {
    grid-column-start: span 12;
    grid-column-end: span 12;
  }
}

@media (min-width: 62rem) {
 
  .column-1 {
    flex-basis: 33%;
    max-width: 33%;
  }

  .column-2 {
    flex-basis: 41%;
    max-width: 41%;
  }

  .column-3 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .column-4 {
    flex-basis: 58%;
    max-width: 58%;
  }
}

  @media (min-width: 62rem) {
  
    .column-1 {
      grid-column-start: span 4;
      grid-column-end: span 4;
    }

    .column-2 {
      grid-column-start: span 5;
      grid-column-end: span 5;
    }

    .column-3{
      grid-column-start: span 6;
      grid-column-end: span 6;
    }

    .column-4 {
      grid-column-start: span 7;
      grid-column-end: span 7;
    }
}