
@import url("https://fonts.googleapis.com/css?family=Pontano+Sans");

.container1 {
  margin: auto;
  padding: 0 1rem;
  max-width: 71.25rem;
  width: 100%;
  display: block;
  overflow: hidden;
}
 
* {
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}

body {
  background-image:url(../img/背景圖5.jpg);
　background-repeat: no-repeat;
  font-family: "Pontano Sans", sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  color: #2E8194;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100%;
  text-rendering: optimizeLegibility;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
ul li {
  margin: 0 1.75rem 0 0;
}

a {
  color:#2E8194;
  text-decoration: none;
  transition: all 0.2s ease;
}
a:hover {
  color: #2E8194;
}
a.notmove {
  color: #2E8194;
}

h1, h2, h3, h4 {
  color: #2E8194;
  font-weight: normal;
  margin: 1.75rem 0 1rem 0;
}

h1, h2, h3, h4, h5, h6, p{
 text-align: center;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.125rem;
  margin: 0;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
  margin: 1rem 0 0.5rem 0;
}

img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

nav {
  display: block;
}
nav li {
  font-size: 1.125rem;
  margin: 0;
}

footer {
  padding: 1rem 0;
  text-align: center;
}

/*-------------------------------------------------------*/

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.Menu1{
  /*margin-left: 2%;*/
  padding-left: 3%;
  font-size:40px;
  cursor:pointer;
}


@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}


/*---------------------*/

#logo{
  color: #333;
  font-size: 1.125rem;
  text-transform: uppercase;
}

.logo3{
  position: relative;
  margin: 0 42.5% 0 42.5%;
  top:30px;

}
.breadcrumb-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 1rem 0 0 0;
  list-style: none;
}
.breadcrumb-list li {
  letter-spacing: 0.125rem;
  text-transform: uppercase;
}

.breadcrumb-item.notmove {
  color: #333;
}
.breadcrumb-item + .breadcrumb-item::before {
  content: "/";
  display: inline-block;
  padding: 0 10px;
  color: #d5d5d5;
}

.container1 {
  margin: auto;
  padding: 0 10px;
  max-width: 1200px;
  width: 100%;
}

.showcase {
  width: 100%;
  height: 20%;
  background: url('../img/首頁首圖.png') no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
  padding-bottom: 50px;
  margin-bottom: 20px;
}

.frame{
  width: 30%;
  margin-left: 30%;
}

.frame:hover {
  -webkit-animation:sucaijiayuan 1s .1s ease both;
  -moz-animation:tada 1s .1s ease both;
}
@-webkit-keyframes sucaijiayuan {
  0% {
  -webkit-transform:scale(1)
}
 10%,20% {
  -webkit-transform:scale(0.8) rotate(-2deg)
}
 30%,50%,70%,90% {
  -webkit-transform:scale(1.1) rotate(2deg)
}
 40%,60%,80% {
  -webkit-transform:scale(1.1) rotate(-2deg)
}
 100% {
  -webkit-transform:scale(1) rotate(0)
 }
}

.frame2{
  background-image: url('');
}

.showcase h2, .showcase p {
  margin-bottom: 10px;
}

.showcase .btn {
  margin-top: 20px;
  width: 100%;
}

.home-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin-bottom: 40px;
  background-color: rgba(255, 255, 255, 0.84);
  width:100%; 
  padding: 5%;
  box-shadow: 12px 18px 14px #A4A2A2;
  -webkit-box-shadow: 12px 18px 14px #A4A2A2;
  -moz-box-shadow: 12px 18px 14px #A4A2A2;
  border-radius: 20px;
}

.home-cards .border{
  
/*  border-radius: 20px;
  padding: 0 10px;
  box-shadow: 12px 18px 14px #A4A2A2;
  -webkit-box-shadow: 12px 18px 14px #A4A2A2;
  -moz-box-shadow: 12px 18px 14px #A4A2A2;*/
}

.home-cards img {
  width: 99%;
  padding: 4px 0px 2px 2px;
  margin-bottom: 20px;
  border-radius: 20px;
}

.home-cards h3 {
  margin-bottom: 5px;
  color: #2E8194;
}

.home-cards p {
  color: #2E8194;
}

.owl{
  background-color: rgba(255, 255, 255, 0.84);
  border-radius: 20px;
  padding: 2px;
  width: 40%;
  margin: 0 auto;
  z-index: 1;
  text-align:center;
}

.owl h4{
}

.item{
  opacity:0.4;
  transition:.4s ease all;
  margin:0 20px;
  transform:scale(.8);
}


.item2{
  display: flex;
  align-items: center;
  margin-bottom: 70px;
  font-family: 'Noto Sans TC', sans-serif;
}
.item2 h2{ 
  font-weight: 900;
  margin-bottom: 1em;
}
.item2 p{ 
  font-weight: 300;
  line-height: 1.6;
}
.item2 .pic{
  width: 55%;
  flex-shrink: 0;
}
.item2 .pic img{
  width: 100%;
  vertical-align: middle;
}
.item2 .txt{
  width: 55%;
  flex-shrink: 0;
  padding: 50px 30px;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.84);
  border-radius: 20px;
   box-shadow: rgba(187, 187, 187, 1) 0 0px 20px -1px;
  -webkit-box-shadow: rgba(187, 187, 187, 1) 0 0px 20px -1px;
}
.item2 > :first-child{
  margin-right: -10%;
}


@media(max-width:1000px){
  .item{margin:0; transform:scale(.9)}
}
.active .item{
  opacity:1;
  transform:scale(1);
} 

.owl-item {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
}

.inner{
    position:absolute; 
    bottom:30px; 
    left:0; 
    right:0; 
    text-align:center;
  }

.inner a{
    color:#fff; 
    text-decoration:none; 
    border-bottom:2px solid rgba(255,255,255,0.5); 
    transition:.3s ease border-color
  }

.inner a:hover{
    border-color:#fff;
  }

.black .inner a{
    color:#000; 
    border-color:rgba(0,0,0,0.4)
  }

.black .inner a:hover{
  border-color:#000;
  }

.owl-carousel:after{
    content:""; 
    display:block; 
    position:absolute; 
    width:8%; 
    top:0; 
    bottom:0; 
    left:50%; 
    margin-left:-4%; 
    pointer-events: none; 
    background-size:100% auto;
}

.owl-controls{
    z-index: -20;
    position:absolute;
    margin-top:300px;
    display: none;
  }


.follow {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 30px 0 30px;
}

.follow * {
  margin-right: 10px;
}

/* Links */
.links {
  background: #f2f2f2;
  color: #616161;
  font-size: 12px;
  padding: 35px 0;
}

.links-inner {
  font-size: 20px;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  align-items: flex-start;
  justify-content: center;
}

.links li {
  line-height: 1.8;
}

.boxx{
  position: fixed;
  bottom: 10%;
  right: -3%;
  width: 80%;
}

.box7 h2{
  position: relative;
  text-align: center;
  bottom: -85%;
  right: -65%;
}

/*-------滾輪體-------------*/
:root {
  --wheel-color: #164955;
  --hamster-color: #8E8E8E;
}

.box7{
  position: relative;
  margin: auto;
  display: block;
  margin-bottom: 3%;
  margin-right: 20%;
  width: 50px;
  height:110px;
}

/*---------輪體------------*/
.wheel {
  position: absolute;
  width: 130px;
  height: 130px;
  border: 10px solid var(--wheel-color);
  border-radius: 50%;
  background: conic-gradient(
    var(--wheel-color),
    var(--wheel-color) 5deg,
     transparent 5deg,
     transparent 60deg,
    var(--wheel-color) 60deg,
    var(--wheel-color) 65deg,
     transparent 65deg,
     transparent 120deg,
    var(--wheel-color) 120deg,
    var(--wheel-color) 125deg,
     transparent 125deg,
     transparent 180deg,
    var(--wheel-color) 180deg,
    var(--wheel-color) 185deg,
     transparent 185deg,
     transparent 240deg,
    var(--wheel-color) 240deg,
    var(--wheel-color) 245deg,
     transparent 245deg,
     transparent 300deg,
    var(--wheel-color) 300deg,
    var(--wheel-color) 305deg,
     transparent 305deg
  );
  -webkit-animation: Manimation 1s infinite linear;
          animation: Manimation 1s infinite linear;
}

/*-----------轉動----------*/
@-webkit-keyframes Manimation {
  0% {
    transform: none;
  }
  
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes Manimation {
  0% {
    transform: none;
  }
  
  100% {
    transform: rotate(-360deg);
  }
}

/*----------軸心-----------*/
.wheel::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #2E8194;
}

/*---------外圈------------*/
.wheel::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 130px;
  height: 130px;
  border: 5px solid #2E8194;
  border-radius: 53%;
}

/*----------鼠身-----------*/
.hamster {
  position: absolute;
  top: 65px;
  left: 128%;
  transform: translateX(-50%);
  width: 75px;
  height: 50px;
}

.body {
  width: 75px;
  height: 40px;
  position: absolute;
  bottom: 0;
  background: var(--hamster-color);
  transform: rotate(10deg);
  border-radius: 50% / 60% 60% 40% 40%;
  overflow: hidden;
}

.body::before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 25px;
  background: #D9D9D9;
  bottom: -12px;
  border-radius: 50%;
}
/*--------耳朵---------*/
.ear {
  position: absolute;
  left: 21px;
  top: 3px;
  width: 15px;
  height: 15px;
  background: var(--hamster-color);
  border-radius: 50%;
  border-right: 2px solid  #494949;
  transform: rotate(10deg);
}

/*----------尾巴---------*/
.tail {
  position: absolute;
  right: -2px;
  top: 25px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--hamster-color);
}

/*---------眼睛---------*/
.eye {
  position: absolute;
  left: 8px;
  top: 13px;
  width: 6px;
  height: 3px;
  background: black;
  border-radius: 100%;
}
/*--------鼻子---------*/
.nose {
  position: absolute;
  left: 0px;
  top: 18px;
  width: 5px;
  height: 5px;
  background: #F78F9F;
  border-radius: 50%;
}

.nose::after {
  content: '';
  position: absolute;
  top: 5px;
  left: 1px;
  width: 8px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 1px 0 black;
}

/*--------腳腳--------*/

.leg {
  position: absolute;
  background: var(--hamster-color);
  width: 10px;
  height: 15px;
  border-radius: 30% 50% 30% 30%;

  box-shadow: 1px -1px 0 #494949;
}

.leg.front {
  bottom: -7px;
  left: 15px;
  transform: rotate(45deg);
  transform-origin: top right;
  -webkit-animation: Manimations 0.1s infinite linear;
          animation: Manimations 0.1s infinite linear;
  animation-direction: alternate-reverse;
}

.leg.back {
  right: 15px;
  bottom: -6px;
  transform: rotate(-45deg);
  transform-origin: top left;
  -webkit-animation: Manimationss 0.1s infinite linear;
          animation: Manimationss 0.1s infinite linear;
  animation-direction: alternate-reverse;
}

/*----------前腳動------------*/
@-webkit-keyframes Manimations {
  0% {
    transform: rotate(65deg);
  }
  
  100% {
    transform: rotate(20deg);
  }
}

@keyframes Manimations {
  0% {
    transform: rotate(65deg);
  }
  
  100% {
    transform: rotate(20deg);
  }
}

/*-----------後腳動--------------*/

@-webkit-keyframes Manimationss {
  0% {
    transform: rotate(25deg);
  }
  
  100% {
    transform: rotate(-65deg);
  }
}


@keyframes Manimationssg {
  0% {
    transform: rotate(25deg);
  }
  
  100% {
    transform: rotate(-65deg);
  }
}

/*------------------------------*/

@keyframes wobble-top {
  16.65% {
    transform: skew(-12deg);
  }
  33.3% {
    transform: skew(10deg);
  }
  49.95% {
    transform: skew(-6deg);
  }
  66.6% {
    transform: skew(4deg);
  }
  83.25% {
    transform: skew(-2deg);
  }
  100% {
    transform: skew(0);
  }
}
.wobble-top {
  display: inline-block;
  transform-origin: 0 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.wobble-top:hover {
  animation-name: wobble-top;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

.outline-outward {
  display: inline-block;
  position: relative;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.outline-outward:before {
  content: "";
  position: absolute;
  border: #ececec solid 4px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition-duration: 0.3s;
  transition-property: top right bottom left;
}
.outline-outward:hover:before {
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
}

@media screen and (max-width: 1200px) {
  .Menu1{
    font-size: 40px;
  }
.breadcrumb-list li{
    font-size: 18px;
  }
.frame{
  width: 30%;
 }  
.owl h4{
  font-size: 25px;
  text-align:center;
 }  
}
@media screen and (max-width: 992px) {
  .Menu1{
    font-size: 50px;
  }
.breadcrumb-list li{
    font-size: 35px;
  }
.frame{
  width: 40%;
 }
.home-cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
  margin-bottom: 40px;
 }
.owl{
  background: #fff;
  padding: 2px;
  width: 80%;
  margin: 0 auto;
  z-index: 1;
  text-align:center;
 }

.owl h4{
  font-size: 1.59rem;
  text-align:center;
 }  

.links-inner {
  font-size: 25px;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
  align-items: flex-start;
  justify-content: center;
 }
 .showcase{
 }  
.home-cards h3 {
  margin: 70px 0;
  font-size: 1.89rem
  margin-bottom: 5px;
  color: #2E8194;
}
.home-cards p {
  margin: 100px 0;
  font-size: 1.59rem;
  color: #2E8194;
}
.item2 p{
  font-size: 1.59rem; 
  font-weight: 300;
  line-height: 1.6;
}
.txt h2{
  font-size: 1rem;
}
.txt p{
  font-size: 0.9rem;
}
  .box7{
   display: none;
 } 
}
@media screen and (max-width: 768px) {
   .Menu1{
    font-size: 60px;
  }
.breadcrumb-list li{
    font-size: 25px;
  }
  .frame{
  width: 60%;
  margin-right: -20%;
  }
 
 .showcase{
  padding-bottom:40%;
  /*padding-left: 20%;*/
 } 
 .home-cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
  margin-bottom: 40px;
 }

 .owl{
  background: #fff;
  padding: 2px;
  width: 80%;
  margin: 0 auto;
  z-index: 1;
  text-align:center;
 }
 .owl h4{
  font-size: 1.39rem;
  text-align:center;
 }
.links-inner {
  font-size: 25px;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  align-items: flex-start;
  justify-content: center;
 }
 .txt h2{
  font-size: 1.2em;
}
.txt p{
  font-size: 1em;
}  
}