
@import url("https://fonts.googleapis.com/css?family=Pontano+Sans");
.container1 {
  margin: auto;
  padding: 0 1rem;
  max-width: 71.25rem;
  width: 100%;
}
 
* {
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}

/*html{
  font-size: 16px;
}*/

body {
  
  background-image:url(../img/背景圖4.jpg);
　background-repeat: no-repeat;
  font-family: "Pontano Sans", sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  color: #2E8194;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100%;
  text-rendering: optimizeLegibility;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
ul li {
  margin: 0 1.75rem 0 0;
}

a {
  color:#2E8194;
  text-decoration: none;
  transition: all 0.2s ease;
}
a:hover {
  color: #2E8194;
}
a.notmove {
  color: #2E8194;
}

h1, h2, h3, h4 {
  color: #2E8194;
  font-weight: normal;
  margin: 1.75rem 0 1rem 0;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.125rem;
  margin: 0;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
  margin: 1rem 0 0.5rem 0;
}

img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

nav {
  display: block;
}
nav li {
  font-size: 1.125rem;
  margin: 0;
}

footer {
  padding: 1rem 0;
  text-align: center;
}


/*----------------------------------------------------------*/

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 2px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 10px;
  right: 45px;
  font-size: 60px;
}

span{
  /*margin-left: 2%;*/
  padding-left: 3%;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 10px;
  right: 35px;
  }
}


@media (max-width: 767px) {

}



/*-------------------------------------------------------*/


#logo{
  color: #333;
  font-size: 1.125rem;
  text-transform: uppercase;
}

.logo3{
  position: relative;
  margin: 0 42.5% 0 42.5%;
  top:30px;
}

.breadcrumb-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 1rem 0 0 0;
  list-style: none;
}
.breadcrumb-list li {
  font-size: 1.55rem;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
}

.breadcrumb-item.notmove {
  color: #333;
}
.breadcrumb-item + .breadcrumb-item::before {
  content: "/";
  display: inline-block;
  padding: 0 10px;
  color: #d5d5d5;
}

.description {
  background: #fff;
  border-radius:30px;
  border-top: 1px solid #e3dddd;
  margin: 20px 0;
  padding: 10px 10px;
  box-shadow: 5px 2px 4px #A4A2A2;
  -webkit-box-shadow: 5px 2px 3px #A4A2A2;
  -moz-box-shadow: 5px 2px 4px #A4A2A2;
}

.btn {
  position: relative;
  display: inline-block;
  background: #2E8194;
  color: #fff;
  border: none;
  border-radius: 30px;
  padding: 22px 42px;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  transform: translateZ(0);
  transition: color 0.3s ease;
  letter-spacing: 1px;
}
.btn:hover::before {
  transform: scaleX(1);
}
.btn::before {
  position: absolute;
  content: " ";
  z-index: -1;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  background: #005A6F;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition: transform 0.3s ease-out;
  border-radius: 30px;
}

.container1 {
  margin: auto;
  padding: 0 10px;
  max-width: 1200px;
  width: 100%;
}

.grid > [class*=column-] {
  padding: 1rem;
  display: block;
}
.grid.menu, .grid.product,.grid.products2{
  border-bottom: 1px solid #e3dddd;
}
.grid.menu > [class*=column-] {
  padding: 0.5rem 1rem 0.5rem 1rem;
}
.grid.product {
  padding: 0 0 1.5rem 0;
}
.grid.second-nav > [class*=column-] {
  padding: 5px 10px;
}

.product-image {
  display: none;
}

.image-list li {
  margin: 0;
}


@keyframes wobble-top {
  16.65% {
    transform: skew(-12deg);
  }
  33.3% {
    transform: skew(10deg);
  }
  49.95% {
    transform: skew(-6deg);
  }
  66.6% {
    transform: skew(4deg);
  }
  83.25% {
    transform: skew(-2deg);
  }
  100% {
    transform: skew(0);
  }
}
.wobble-top {
  display: inline-block;
  transform-origin: 0 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.wobble-top:hover {
  animation-name: wobble-top;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

.outline-outward {
  display: inline-block;
  position: relative;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.outline-outward:before {
  content: "";
  position: absolute;
  border: #ececec solid 4px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition-duration: 0.3s;
  transition-property: top right bottom left;
}
.outline-outward:hover:before {
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
}

.links {
  background: #f2f2f2;
  color: #616161;
  font-size: 12px;
  padding: 35px 0;
}

.links-inner {
  font-size: 20px;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  align-items: flex-start;
  justify-content: center;
}
.links li {
  line-height: 1.8;
}
@media screen and (max-width: 1200px) {
  .Menu1{
    font-size: 50px;
  }
.breadcrumb-list li{
    font-size: 18px;
  }
.frame{
  width: 30%;
 }  
.owl h4{
  font-size: 25px;
  text-align:center;
 } 
  .column-1 {
    flex-basis: 33%;
    max-width: 33%;
  }

  .column-2 {
    flex-basis: 41%;
    max-width: 41%;
  }

  .column-3 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .column-4 {
    flex-basis: 58%;
    max-width: 58%;
  } 
    .grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
  }
  .grid > [class*=column-] {
    margin: 0;
    max-width: 100%;
  }

  .column12 {
    grid-column-start: span 12;
    grid-column-end: span 12;
  }
}
@media screen and (max-width: 992px) {
  .Menu1{
    font-size: 50px;
  }
.breadcrumb-list li{
    font-size: 1.5rem;
  }
.frame{
  width: 40%;
 }

.links-inner {
  font-size: 35px;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  align-items: flex-start;
  justify-content: center;
 } 
 .column-2 h1{
  font-size: 3.2rem; 
 }

 .column-2 h2{
  font-size: 2.28rem;
 } 
 .column-2 p{
  font-size: 0.98rem;
 }
 .column-4 {
  grid-column-start: span 4;
  grid-column-end: span 4;
 }
 .product-image img {
    width: 100%;
    height: 600px;
 }
}
  .image-list {
    display: flex;
    overflow: hidden;
  }
  .image-list img {
    height: 100%;
  }
   .image-list img {
    height: 10rem;
    width: 100%;
    transition: opacity 0.3s ease;
    cursor: pointer;
  }


@media screen and (max-width: 768px) {
   .Menu1{
    font-size: 50px;
  }
.breadcrumb-list li{
    font-size: 25px;
  }

.links-inner {
  font-size: 18px;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  align-items: flex-start;
  justify-content: center;
 }
.product-image img {
  height: 52vh;
 } 
 .breadcrumb-list li {
  font-size: 1.45rem;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
 } 
.image-list {
  display: flex;
  overflow: hidden;
  }
.image-list img {
  height: 100%;
  }
.image-list img {
  height: 10rem;
  width: 100%;
  transition: opacity 0.3s ease;
  cursor: pointer;
  box-shadow: 5px 2px 4px #A4A2A2;
  -webkit-box-shadow: 5px 2px 3px #A4A2A2;
  -moz-box-shadow: 5px 2px 4px #A4A2A2;
  }
  .grid {
  display: grid;
  grid-template-columns: repeat(6, 4fr);
  grid-template-rows: auto;
  }
  .column-4 {
  grid-column-start: span 12;
  grid-column-end: span 12;
 }

}

@media (min-width: 768px) {
  .product-image img, .image-list img {
    /*width: 100%;*/
    height: 500%;
  }

  .product-image {
    width: 100%;
    display: block;
  }

  .product-image img {
  /*height: 52vh;*/
  } 
  .product-image img.notmove {
    display: block;
    margin: 0 0 8px 0;
  }

  .image-list {
    /*display: flex;*/
    overflow: hidden;
  }
  .image-list li {
    margin: 0 8px 0 0;
    flex-basis: 100%;
  }
  .image-list li:nth-child(3) {
    margin: 0;
  }
  .image-list img {
    padding: 1px;
    height: 10rem;
    width: 100%;
    transition: opacity 0.3s ease;
    cursor: pointer;
  }
  .image-list img:hover {
    opacity: 0.7;
  }
  .breadcrumb-list li {
  font-size: 1.4rem;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  }
    .grid {
  display: grid;
  grid-template-columns: repeat(12, 4fr);
  grid-template-rows: auto;
  }
  .column-4 {
  grid-column-start: span 6;
  grid-column-end: span 6;
 }
}

@supports (display: grid) {
  .grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
  }
  .grid > [class*=column-] {
    margin: 0;
    max-width: 100%;
  }

  .column12 {
    grid-column-start: span 12;
    grid-column-end: span 12;
  }
}

@media (min-width: 768px) {
 
  .column-1 {
    flex-basis: 33%;
    max-width: 100%;
  }

  .column-2 {
    flex-basis: 100%;
    max-width: 100%;
  }

  .column-3 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .column-4 {
    display: none;
  }
}


@media (max-width: 767px) {
  
  .column-1 {
    flex-basis: 22%;
    max-width: 22%;
  }

  .column-2 {
    flex-basis: 41%;
    max-width: 41%;
  }

  .column-3 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .column-4 {
    flex-basis: 58%;
    max-width: 58%;
  }
}


  @media (min-width: 768px) {
  
    .column-1 {
      grid-column-start: span 4;
      grid-column-end: span 4;
    }

    .column-2 {
      grid-column-start: span 5;
      grid-column-end: span 5;
    }

    .column-3{
      grid-column-start: span 6;
      grid-column-end: span 6;
    }

    .column-4 {
      grid-column-start: span 7;
      grid-column-end: span 7;
    }
}


@media (max-width: 767px) {

      .column-1 {
      grid-column-start: span 5;
      grid-column-end: span 5;
    }

    .column-2 {
      grid-column-start: span 12;
      grid-column-end: span 3;
    }

    .column-2 h1{
      font-size: 30px;
    }

    .column-2 h2{
      font-size: 20px;
    }


    .column-3{
      grid-column-start: span 5;
      grid-column-end: span 5;
    }

    .column-4 {
     /* grid-column-start: span 7;*/
      grid-column-end: span 7;
    }
    .grid > [class*=column-] {
     padding: 10px; 
    }
    .links-inner {
     font-size: 25px;
     max-width: 1100px;
     margin: 0 auto;
     padding: 0 20px;
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     grid-gap: 10px;
     align-items: flex-start;
     justify-content: center;
}

}
